---
import { otherprojects } from "../../data/otherprojects.json";
---

<section class="bg-primary">
  <div class="px-8 2xl:max-w-7xl mx-auto py-12">
    <div class="grid grid-cols-1 lg:grid-cols-3 text-secondary gap-8">
      <div class="lg:col-span-2">
        <p
          class="text-base leading-relaxed mb-6"
          data-aos="fade-up"
          data-aos-duration="2000"
        >
          Hello! I'm Saharsh, a passionate front-end developer and entrepreneur based in Atlanta. As a computer science student at Georgia State University, I'm dedicated to creating innovative digital experiences that make a real impact. My journey in tech is fueled by curiosity and a love for problem-solving, with experience spanning UI/UX design for mobile apps and successful web application launches.
        </p>
        <p
          class="text-base leading-relaxed mb-6"
          data-aos="fade-up"
          data-aos-duration="2500"
        >
          My tech stack is carefully chosen for optimal results. I'm proficient in React.js for dynamic interfaces, Angular for complex applications, and Figma for intuitive designs. I've also embraced Astro for lightning-fast static sites and Tailwind CSS for efficient, modern styling. This powerful combination allows me to create websites that are not only visually stunning but also performant and SEO-friendly.
        </p>
      </div>
      <div>
        <p
          class="text-base leading-relaxed mb-6"
          data-aos="fade-up"
          data-aos-duration="2500"
        >
          As a solo developer, I offer a unique, personalized approach to every project. I believe in close collaboration, ensuring that every element aligns perfectly with my clients' vision and goals. My focused dedication allows me to deliver efficient, effective, and captivating websites that help businesses stand out and convert visitors into loyal customers.
        </p>
        <p
          class="text-base leading-relaxed mb-6"
          data-aos="fade-up"
          data-aos-duration="3000"
        >
          I'm always eager to take on new challenges and push the boundaries of web development. Whether you need a responsive landing page or a complex web application, I'm here to transform your ideas into reality. Let's create something amazing together that will help your business thrive in the digital world.
        </p>
        <p
          class="text-base leading-relaxed underline underline-offset-4"
          data-aos="fade-up"
          data-aos-duration="3500"
        >
          Ready to start your project? Contact me at <a href="mailto:saharshbaweja@gmail.com">saharshbaweja@gmail.com</a>.
        </p>
      </div>
    </div>
  </div>
</section>